/node_modules
/public/hot
/public/storage
/public/dist/img
/public/profile
/storage/*.key
/vendor
/.idea
.env
keys.text
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
