/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* reference are about */

body {
  background: #00ca88; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00ca88, #00c3ff, #2a2ab5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
}
/** Form Style **/
.form-style hr {
  border-color: #fdfdfd;
}
.container {
  position: relative;
  width: 450px;
  margin: 70px auto;
  animation: myanim 2.3s;
}
.form-style {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
}
.form-style .header {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
.form-style .header small {
  color: #b3b3b3;
}
.content {
  text-align: center;
  display: grid;
  margin-bottom: 50px;
}
.example-icon {
  font-size: 2.4rem;
  font-weight: 900;
  color: #00c3ff;
}
.footer {
  padding: 20px;
  text-align: center;
}
/** Button Style **/
.bton {
  margin: 0 15px;
  cursor: pointer;
  padding: 10px 35px;
  background: #808080;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-weight: 900;
  color: #fff;
  transition: all 0.6s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
}
.bton.login {
  background: #00ca88;
}
.bton.register {
  background: #3a3a3a;
}

.bton.forgot {
  background: #3f6e74;
}
.bton:hover {
  background: #00c3ff;
}
/** INPUT Style **/
.inp {
  position: relative;
  margin: auto;
  margin-top: 25px;
  width: 100%;
  max-width: 280px;
}
.invalid .feedback {
  font-size: 2.4rem;
  color: #00c3ff;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #00ca88;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #00ca88;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
@-moz-keyframes myanim {
  0% {
    opacity: 0;
    top: -35px;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes myanim {
  0% {
    opacity: 0;
    top: -35px;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-o-keyframes myanim {
  0% {
    opacity: 0;
    top: -35px;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes myanim {
  0% {
    opacity: 0;
    top: -35px;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

